html, body {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 545;
  font-size: 16px;
  border-radius: 40px;
}
.btn-yellow #arrow {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  transition: 0.3s ease-in-out;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 545;
  font-size: 16px;
  border-radius: 40px;
}
.btn-black #arrow {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  transition: 0.3s ease-in-out;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 545;
  font-size: 16px;
  border-radius: 40px;
}
.btn-transparent #arrow {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  transition: 0.3s ease-in-out;
}

header {
  background-color: #F0EFE9;
  display: flex;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
}
header .container .bars {
  font-size: 25px;
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) {
  header .container .bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1400px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1400px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .phone {
  padding-right: 30px;
  margin-right: 28px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter";
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .phone a {
  margin-right: 6px;
  color: #191919;
}
header .container .menu .top-menu .contact-information .phone a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
header .container .menu .top-menu .contact-information .email {
  padding-right: 30px;
  margin-right: 29px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter";
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .email a {
  margin-right: 9px;
  color: #191919;
}
header .container .menu .top-menu .contact-information .email a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
header .container .menu .top-menu .contact-information .location {
  font-family: "Inter";
  font-size: 15px;
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .location a {
  margin-right: 8px;
  color: #191919;
}
header .container .menu .top-menu .contact-information .location a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
header .container .menu .top-menu .social-media a {
  color: black;
  margin-left: 18px;
  font-size: 1.3em;
}
header .container .menu .top-menu .social-media a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 38px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.showcase .backround-lines {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
@media (min-width: 860px) {
  .showcase .backround-lines {
    display: block;
  }
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans";
  font-size: 40px;
  font-weight: 700;
  color: #191919;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 56px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(25, 25, 25, 0.7);
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1430px) {
  .showcase .container img {
    display: block;
  }
}

.footer {
  background-color: #0E1021;
  position: relative;
  z-index: 0;
}
.footer .background-lines-white-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
@media (max-width: 1170px) {
  .footer .background-lines-white-right {
    display: none;
  }
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-logo-text {
  display: none;
}
@media (min-width: 1400px) {
  .footer .container .footer-logo-text {
    display: flex;
    flex-direction: column;
  }
}
.footer .container .footer-logo-text a {
  width: 168px;
  height: 54.3px;
  margin-bottom: 29px;
  margin-top: 100px;
}
.footer .container .footer-logo-text p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  width: 309px;
  height: 125px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 111px;
}
.footer .container .footer-objects {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.footer .container .footer-objects .footer-company {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects .footer-company {
    margin-left: -45px;
  }
}
.footer .container .footer-objects .footer-company h3 {
  width: 151.3px;
  height: 30px;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 105px;
  margin-bottom: 41px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-company h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-company a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 105px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-company a {
    font-size: 12px;
  }
}
.footer .container .footer-objects .footer-company a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
.footer .container .footer-objects .footer-Help {
  display: flex;
  flex-direction: column;
}
.footer .container .footer-objects .footer-Help h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 38px;
  margin-left: 60px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Help h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-Help a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 60px;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Help a {
    font-size: 12px;
  }
}
.footer .container .footer-objects .footer-Help a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
.footer .container .footer-objects .footer-Resources {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects .footer-Resources {
    margin-left: -2px;
  }
}
.footer .container .footer-objects .footer-Resources h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 38px;
  margin-left: 63px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Resources h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-Resources a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 65px;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Resources a {
    font-size: 12px;
  }
}
.footer .container .footer-objects .footer-Resources a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
.footer .container .footer-objects .footer-Link {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects .footer-Link {
    margin-left: -45px;
  }
}
.footer .container .footer-objects .footer-Link h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 36px;
  margin-left: 106px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Link h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-Link a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 106px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Link a {
    font-size: 12px;
    white-space: nowrap;
  }
}
.footer .container .footer-objects .footer-Link a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}

.footer-bottom {
  display: flex;
  background-color: #0E1021;
  position: relative;
}
.footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .container .bottom-text p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 15px;
}
@media (max-width: 700px) {
  .footer-bottom .container .bottom-text p {
    font-size: 12px;
  }
}
.footer-bottom .container .social-media a {
  color: #ffffff;
  margin-left: 18px;
  font-size: 1.3em;
}
.footer-bottom .container .social-media a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
@media (max-width: 800px) {
  .footer-bottom .container .social-media a {
    display: none;
  }
}
.footer-bottom .container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}