header {
  background-color: #F0EFE9;
  display: flex;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
}
header .container .bars {
  font-size: 25px;
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) {
  header .container .bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .top-menu .contact-information {
  display: flex;
}
header .container .menu .top-menu .contact-information .phone {
  padding-right: 30px;
  margin-right: 28px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter";
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .phone a {
  margin-right: 6px;
  color: #191919;
}
header .container .menu .top-menu .contact-information .phone a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
header .container .menu .top-menu .contact-information .email {
  padding-right: 30px;
  margin-right: 29px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter";
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .email a {
  margin-right: 9px;
  color: #191919;
}
header .container .menu .top-menu .contact-information .email a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
header .container .menu .top-menu .contact-information .location {
  font-family: "Inter";
  font-size: 15px;
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .location a {
  margin-right: 8px;
  color: #191919;
}
header .container .menu .top-menu .contact-information .location a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}
header .container .menu .top-menu .social-media a {
  color: black;
  margin-left: 18px;
  font-size: 1.3em;
}
header .container .menu .top-menu .social-media a:hover {
  transition: 0.4s ease-in-out;
  color: darkorange;
}